<% if user_signed_in? %>
  <div class="contents">
    <a href="/main/new">投稿する</a>
  </div>
<% @talk.each do |data| %>
  <div class="contents">
    <p><%= data.name %></p>
    <p><%= data.text %></p>
    <%= link_to '削除', "/main/#{data.id}", method: :delete %>
  </div>
<% end %>
<% end %>