h3 {
  color: white;
}

.navbar {
  height: 80px;
  background-color: #BB0000;
  padding: 20px;
}

.navbar h1 {
  color: white;
}

.contents {
  width: 500px;
  padding: 10px;
  background-color: #BB0000;
  color: white;
  font-size: 30px;
  margin: 10px auto;
}

.contents input {
  margin: 10px 0px;
}

.contents textarea {
  margin: 10px 0px;
}

.create {
  width: 500px;
  padding: 10px;
  background-color: #BB0000;
  margin: 10px auto;
  font-size: 30px;
}

a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

input {
  width: 480px;
}

textarea {
  width: 480px;
}