h3 {
  color: white;
}

.navbar {
  height: 80px;
  background-color: #BB0000;
  padding: 20px;
}

.navbar h1 {
  color: white;
}

.contents {
  width: 200px;
  padding: 10px;
  background-color: #BB0000;
  color: white;
  margin: 10px 0px;
}

.contents input {
  margin: 10px 0px;
}

.contents textarea {
  margin: 10px 0px;
}

.create {
  width: 200px;
  padding: 10px;
  background-color: #BB0000;
}

a {
  color: white;
}